.all-order-of-day {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.date-selector {
  margin: 20px auto;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-card {
  margin-top: 20px;
}

.summary-card ul {
  list-style-type: none;
  padding: 0;
}

.summary-card li {
  margin-bottom: 10px;
  font-size: 16px;
}

.pdf-button-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.summary-table {
  width: 100%;
  border-collapse: collapse;
}

.summary-table th,
.summary-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.summary-table th {
  background-color: #3498db; /* Cor de fundo alterada */
  color: white; /* Cor do texto para melhor contraste */
}
