.historic-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;

}

.p-field {
  display: flex;
  flex-direction: row;
}

.filter-card {
  margin-bottom: 20px;
}

.user-view-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-mode-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 

.input-switch-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 

.total-pdf-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.total-orders-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.total-orders {
  font-weight: bold;
  color: var(--primary-color);
}

.p-button-text {
  display: flex;
  margin: auto;

}

h2 {
  color: var(--primary-color);
  margin-bottom: 20px;
}

.monthly-table {
  max-width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
}

.data-card {
  margin-bottom: 20px;
}

.monthly-table th,
.monthly-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.monthly-table th {
  background-color: #f2f2f2;
}
