body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  max-height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  background-color: #ffffff;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 15px;
  border-radius: 10px 10px 0 0;
}

.logo {
  height: 40px;
  min-height: 32px;
  max-height: 32px;
  margin-left: 10px;
}

.register-btn-inLog {
  background-color: #007bff;
  color: #ffffff;
  border: 2px solid #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.register-btn-inLog:hover {
  background-color: #007bff;
  color: white;
}

.login-box {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
}

label {
  display: block;
  margin: 15px 0 5px;
  font-weight: bold;
}

input {
  width: calc(100% - 20px);
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.register-msg {
  font-size: 14px;
  color: #555;
  margin: 20px 0;
  text-align: center;
}

.login-btn {
  width: 95%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #0056b3;
}

a {
  text-decoration: none;
}

.rimani-line {
  display: flex;
  align-items: center;
  margin: 10px 0;
  white-space: nowrap;
}
