.title {
    color: #343a40;
    text-align: center;
}

.user-list {
    list-style-type: none;
    padding: 0;
}

.user-item {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-group {
    display: flex;
    gap: 10px;
    /* Espaço entre os botões */
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.loading {
    text-align: center;
    font-size: 1.5em;
    color: #6c757d;
}

.error {
    color: red;
    text-align: center;
}